
.grid-item{
    img{
        width: 100%;
        margin-top: 15px;
        object-fit: cover;
    }
    p{
        color: #fff;
        margin-top: 15px;
        font-size: 1.3vw;
        text-transform: uppercase;
        text-align: right;
    }
}